*{
    font-family:'Work Sans', sans-serif;
    margin: 0;
    padding:0;
}
/* header section */
.header{
    background-image: url('../images/banner/banner3.png');
    background-color: rgba(184, 100, 31, 0.692);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    
}
.header-content{
 float:right;
 margin-right: 130px;
 margin-top: 180px;
 text-align: right;
 color:white;
 width: 500px;
}
.header-content h2{
    font-weight: 700;
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 20px;
   }
   .header-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
   }
   .header-content button{
    background-color: white;
    color: blue;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-top: 35px;
    cursor: pointer;
   }

   /* About me area (extra section) */
   .about-me-area{
    padding:110px 130px;
    background-color: #151414;
   }
   .about-me-area h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color:white;
    margin-bottom: 70px;
}
    .about-me-area h2 span{
        color:yellow;

    }

    .about_me_title{
        border:1px solid yellow;
        width: 250px;
        padding: 20px 0;
        text-align: center;
        margin: auto;
    } 


    .about-me-cotainer{
        display:flex;
        justify-content: space-between;
    }

    /* about-me-left side */
    .about-me-left{
        width: 500px;
    }
    .about-me-left h3{
        color: yellow;
        margin-bottom: 9px;
    }
    .about-me-left p{
        font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
    line-height: 25px;
    }
    .about-me-left button{
        background-color: white;
    color: blue;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }


    /* about-me-right side */
    .about-me-right-flex{
        display: flex;
        justify-content: space-between;
    }
    /* right flex-area */
    .skillset{
        border: 1px solid rgba(128, 128, 128, 0.459);
        margin-left: 15px;
        width: 245px;
        padding: 10px;
        margin-bottom: 15px;
    }
    .skillset h2{
      color: yellow;
      font-weight: 700;
      font-size: 50px;
      text-align: left;
    }
    .skillset h2 sup{
        color: yellow;
        font-weight: 700;
        font-size: 30px;
      }
      .skillset p{
        color: white;
        font-weight: 400;
        font-size: 16px;
        margin-top: -40px;
        margin-left: 40px;
        
      }
      .flex-right p{
        margin-left:35px
      }
      


/* my failure section */
.my-failure{
    margin-top: 90px;
   padding:0 110px
   
}
.my-failure-container{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    align-items: center;

}
.my-failer-right{
    width: 500px;
    margin-top: 180px;
}
.my-failer-right h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.my-failer-right p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.marking-section i{
    color: #16D887;
    font-size: 16px;
    margin-right: 10px;
}
.marking-section p{
    margin-bottom: 10px;
}
.my-plan-section{
    margin: 100px 110px 0px 110px ;
    
}
.plan-heading{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.my-plan-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.my-plan img{
    width: 90px;
    height: 90px;

}
.my-plan {
    width: 320px;
    text-align: center;

}
.my-plan-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.my-plan-text{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
}

/* CTA Area */
.cta-area{
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: 300px;
    margin: 25px;
    margin:100px 110px

}
.cta-container{
    display: flex;
}
.cta-left{
    height: 300px;
    background-image: linear-gradient(100deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    width: 800px;
}
.cta-left-text{
    margin-left: 40px;
    margin-top: 100px;
    width: 400px;
}
.cta-left-text h2{
    font-size:40px;
    font-weight: 700;
    color: white;
}
.cta-left-text button{
    background-color: white;
    color: blue;
    padding: 13px 18px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

/* footer area */

.footer{
    background-color:#151414;
    color: white;
    padding:100px 0px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin:0px 110px
}
.footer-left{
    max-width: 450px;
}
.footer-left h2{
    font-size: 40px;
    font-weight:700;
    margin-bottom: 20px;
}
.footer-left p{
    font-size: 16px;
    font-weight:400;
    line-height: 25px;
}
.footer-left .email{
    margin-top: 20px;
}
.footer-left .phone{
    margin-top: 20px;
}

.icons  {
    display:flex;
    margin-top: 20px;}
.icons a{ 
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    color:#005FAC;
    margin-right:16px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    
}


.icons i.fa-youtube{
    color: red;
}
.footer-right{
    margin-right: 40px;
}
.footer-right h4{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer-right input{
    border: 1px solid white;
    padding: 13px 10px;
    background: none;
    border-radius: 5px;
    width: 210px;
  }
  .footer-right input::placeholder{
    color:white
  }
  .footer-right button{
    background-color:#005FAC;
    color: white;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
  }
  
